/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Instrument Sans", serif;
}

.activeHeader {
  @apply text-headerActive underline;
}

.cursiveText {
  font-family: "Playwrite US Trad", serif;
}